swagger: "2.0"
info:
  version: "1.0.0"
  title: Whisper
# during dev, should point to your local machine
# host: localhost:10010
# basePath prefixes all resource paths 
basePath: /v1
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
  - text/plain
paths:  
  /swagger:
    x-swagger-pipe: swagger_raw
# complex objects have schema definitions
# definitions:

